################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/zoo_backend_vs/FileContentIndex/95a01c2f-6508-4b08-83ea-ef51382f2beb.vsidx
