################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/zoo_backend_vs/FileContentIndex/2c08227f-2424-40b6-bd00-0180c26f5052.vsidx
